<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
  <link rel="icon" href="https://th.bing.com/th/id/OIP.rcgY01LTCMJTv42lgWJpigHaHw?w=174&h=180&c=7&o=5&dpr=1.25\
                           &pid=1.7" type="image/png">
    {%load static%}
     <link rel="stylesheet" href="{%static 'login_design.css'%}"/>

<div class="wrapper">
    <div class="title">
      Login
    </div>

    <div class="form">
      <div class="inputfield">
          <input type="email" class="input" placeholder="👤 Please input email addres">
       </div>
        <div class="inputfield">
          <input type="password" class="input" placeholder="🔒 Please input password">
        </div>
        <div class="inputfield">
        <input type="submit" value="Login" class="btn">
      </div>
        <h3>If you don't have acount, press <a href="http://localhost:8000/register/">Registration</a></h3>
</div>


    </head>

</html>