<!Doctype html>
<html>
<head>
     <link rel="stylesheet" href="new13.css" /> 
<div class="wrapper">
    <div class="title">
      Registration Form
    </div>
    <div class="form">
       <div class="inputfield">
          <label>First Name</label>
          <input type="text" class="input">
       </div>  
        <div class="inputfield">
          <label>Last Name</label>
          <input type="text" class="input">
       </div>  
       <div class="inputfield">
          <label>Password</label>
          <input type="password" class="input">
       </div>  
      <div class="inputfield">
          <label>Confirm Password</label>
          <input type="password" class="input">
       </div> 
        <div class="inputfield">
          <label>Gender</label>
          <div class="custom_select">
            <select>
              <option value="">Select</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
       </div> 
        <div class="inputfield">
          <label>Email Address</label>
          <input type="text" class="input">
       </div> 
      <div class="inputfield">
	      
          <label>Phone Number</label>
          <input type="text" class="input" placeholder="+374">
		       
       </div> 
      <div class="inputfield">
          <label>Address</label>
          <textarea class="textarea"></textarea>
       </div> 
      <div class="inputfield">
          <label>Postal Code</label>
          <input type="text" class="input">
       </div> 
      <div class="inputfield terms">
          <label class="check">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <p>Agreed to terms and conditions</p>
       </div> 
      <div class="inputfield">
        <input type="submit" value="Register" class="btn">
      </div>
	  
<div class="col1">
        <a href="https://www.facebook.com/login.php" class="fb btn" target="_blank">
          <i class="fa fa-facebook fa-fw"></i> Login with Facebook
        </a>
        <a href="https://twitter.com/login" class="twitter btn" target="_blank">
          <i class="fa fa-twitter fa-fw"></i> Login with Twitter
		
        <a href="https://accounts.google.com/signin/v2/identifier?sacu=1&oauth=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="google btn" target="_blank">
          <i class="fa fa-google fa-fw"></i> Login with Google+
        </a>
      </div>
	  
	  
    </div>
	
</div>

