<!Doctype html>
<html>
<head>
    <title>Registration</title>
    <link rel="icon" href="https://th.bing.com/th?q=Registration+Logo&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=1.25&pid=In\
    lineBlock&mkt=en-WW&adlt=moderate&t=1&mw=247" type="image/png">
    {%load static%}
     <link rel="stylesheet" href="{%static 'registration_design.css' %}"/>
<div class="wrapper">

    <div class="title">
      Registration
    </div>

    <div class="form">
       <div class="inputfield">
          <input type="text" class="input" placeholder="Please input name">
       </div>  
        <div class="inputfield">
          <input type="text" class="input" placeholder="Please input surname">
       </div>
       <div class="inputfield">
          <input type="password" class="input" placeholder="Please input password">
       </div>
      <div class="inputfield">
          <input type="password" class="input" placeholder="Please repeat the password">
       </div>
        <div class="inputfield">
          <input type="email" class="input" placeholder="Please input email addres">
       </div>
      <div class="inputfield">
        <input type="submit" value="Register" class="btn">
      </div>

    </div>


</div>
</head>
</html>
